# IPEDS Analysis - Texas State University
**Questions to Answer:**
1. What factors contribute most to student retention rates at Texas State University, and how can interventions be tailored to improve retention?
2. How does the availability of financial aid and scholarships correlate with graduation rates among different demographic groups within the Bobcat Community?

---

## Import Dependencies

In [3]:
import sys
sys.executable

'/Users/robertzygmuntlehr/opt/anaconda3/bin/python'

In [18]:
# Install & Import Dependencies
%pip install openpyxl
%pip show openpyxl
import pandas as pd
import openpyxl
import os
import re
import shutil
import zipfile
import matplotlib.pyplot as plt
# Jupyter Notebook Magic function
%matplotlib inline

Requirement already satisfied: openpyxl in /Users/robertzygmuntlehr/opt/anaconda3/lib/python3.9/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /Users/robertzygmuntlehr/opt/anaconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.
Name: openpyxl
Version: 3.1.2
Summary: A Python library to read/write Excel 2010 xlsx/xlsm files
Home-page: https://openpyxl.readthedocs.io
Author: See AUTHORS
Author-email: charlie.clark@clark-consulting.eu
License: MIT
Location: /Users/robertzygmuntlehr/opt/anaconda3/lib/python3.9/site-packages
Requires: et-xmlfile
Required-by:
Note: you may need to restart the kernel to use updated packages.

## File Handling

In [5]:
# Import Data
df_admission_2022 = pd.read_csv('../../data/csv/adm2022.csv', delimiter = ',')
df_fallEnrollment_2022 = pd.read_csv('../../data/csv/ef2022d.csv', delimiter = ',')

In [6]:
df_admission_2022.head(3)

,UNITID,ADMCON1,ADMCON2,ADMCON3,ADMCON4,ADMCON5,ADMCON6,ADMCON7,ADMCON8,ADMCON9,...,XACTEN50,ACTEN50,XACTEN75,ACTEN75,XACTMT25,ACTMT25,XACTMT50,ACTMT50,XACTMT75,ACTMT75
0,100654,1,3,1,3,3,3,5,1,3,...,R,16.0,R,20.0,R,15.0,R,16.0,R,18.0
1,100663,1,3,1,1,3,3,5,3,3,...,R,27.0,R,33.0,R,20.0,R,25.0,R,28.0
2,100706,1,3,1,3,3,3,5,1,3,...,R,28.0,R,34.0,R,23.0,R,26.0,R,30.0

In [7]:
df_fallEnrollment_2022.head(3)

,UNITID,XGRCOHRT,GRCOHRT,XUGENTER,UGENTERN,XPGRCOHR,PGRCOHRT,XRRFTCT,RRFTCT,XRRFTEX,...,XRRPTIN,RRPTIN,XRRPTCTA,RRPTCTA,XRET_NMP,RET_NMP,XRET_PCP,RET_PCP,XSTUFACR,STUFACR
0,100654,R,1547.0,R,1771.0,R,87.0,R,1417.0,R,...,R,0.0,R,60.0,R,15.0,R,25.0,R,19.0
1,100663,R,2172.0,R,3477.0,R,62.0,R,2353.0,R,...,R,0.0,R,54.0,R,29.0,R,54.0,R,18.0
2,100690,A,NaN,A,NaN,A,NaN,A,NaN,A,...,R,0.0,R,0.0,R,0.0,A,NaN,R,12.0

In [9]:
df_summaryStatistics_admission_2022 = pd.read_excel('/Users/robertzygmuntlehr/Desktop/Projects/Texas State University Application/Texas-State-University-IPEDS-Report/data/excel/adm2022.xlsx', sheet_name='Statistics')
df_summaryStatistics_fallEnrollment_2022 = pd.read_excel('/Users/robertzygmuntlehr/Desktop/Projects/Texas State University Application/Texas-State-University-IPEDS-Report/data/csv/ef2022d.xlsx', sheet_name='Statistics')
df_summaryVarlist_admission_2022 = pd.read_excel('/Users/robertzygmuntlehr/Desktop/Projects/Texas State University Application/Texas-State-University-IPEDS-Report/data/excel/adm2022.xlsx', sheet_name='varlist')
df_summaryVarlist_fallEnrollment_2022 = pd.read_excel('/Users/robertzygmuntlehr/Desktop/Projects/Texas State University Application/Texas-State-University-IPEDS-Report/data/csv/ef2022d.xlsx', sheet_name='varlist')

## Universities of Interest:

In [10]:
dictionary_univerisites_id_interest = {
    228459: "Texas State University",
    105330: "Northern Arizona University",
    110510: "California State University-San Bernardino",
    110556: "California State University-Fresno",
    110565: "Califronia State University-Fullerton",
    110583: "Califronia State University-Long Beach",
    122409: "San Diego State University",
    122597: "San Francisco State University",
    133669: "Florida Atlantic University",
    139931: "Georgia Southern University",
    142115: "Boise State University",
    145813: "Illinois State University",
    150136: "Ball State University",
    151111: "Indiana University-Purdue University-Indianapolis",
    184782: "Rowan University",
    185590: "Montclair State University",
    198464: "East Carolina University",
    199139: "University of North Carolina at Charlotte",
    199148: "University of North Carolina at Greensboro",
    199218: "University of North Carolina Wilmington",
    204024: "Miami University-Oxford",
    209807: "Portland State University",
    216764: "West Chester University of Pennsylvania",
    217484: "University of Rhode Island",
    220978: "Middle Tennesse State University",
    225511: "University of Houston",
    227216: "University of North Texas",
    227368: "The University of Texas Rio Grande Valley",
    227881: "Sam Houston State University",
    228723: "Texas A & M University-College Station",
    228769: "The University of Texas at Arlington",
    228778: "The University of Texas at Austin",
    228787: "The University of Texas at Dallas",
    228796: "The University of Texas at El Paso",
    229115: "Texas Tech University",
    232423: "James Madison University",
    483124: "Arizona State University Digital Immersion",
    486840: "Kennesaw State University"
}

In [11]:
# Extract the IDs from the dictionary
university_ids = list(dictionary_univerisites_id_interest.keys())

# Filter the DataFrame
df_filtered_universities = df_admission_2022.loc[df_admission_2022['UNITID'].isin(university_ids)]

df_filtered_universities

,UNITID,ADMCON1,ADMCON2,ADMCON3,ADMCON4,ADMCON5,ADMCON6,ADMCON7,ADMCON8,ADMCON9,...,XACTEN50,ACTEN50,XACTEN75,ACTEN75,XACTMT25,ACTMT25,XACTMT50,ACTMT50,XACTMT75,ACTMT75
33,105330,1,3,1,3,3,3,3,1,3,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
67,110510,1,3,1,1,3,3,3,1,3,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
71,110556,1,3,1,1,3,3,3,1,3,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
72,110565,1,3,1,1,3,3,3,1,3,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
74,110583,1,3,1,1,3,3,3,1,3,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
129,122409,1,3,1,1,3,3,3,1,3,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
132,122597,1,3,1,1,3,3,3,1,3,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
216,133669,1,5,1,1,5,3,1,1,3,...,R,22.0,R,25.0,R,17.0,R,20.0,R,24.0
268,139931,1,5,1,1,3,3,1,1,3,...,R,20.0,R,23.0,R,17.0,R,19.0,R,22.0
297,142115,1,3,1,3,3,3,3,1,3,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
329,145813,1,3,1,3,3,3,5,1,3,...,R,23.0,R,27.0,R,18.0,R,23.0,R,26.0
366,150136,1,3,1,1,5,3,5,1,3,...,R,25.0,R,28.0,R,22.0,R,25.0,R,27.0
379,151111,1,5,1,1,3,3,5,1,3,...,R,23.0,R,27.0,R,20.0,R,24.0,R,27.0
808,184782,1,3,1,5,5,1,5,1,3,...,R,26.0,R,32.0,R,21.0,R,25.0,R,29.0
814,185590,1,5,1,1,1,5,5,1,3,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
1018,198464,1,3,1,1,3,3,3,1,3,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
1039,199139,1,5,1,1,5,3,5,1,3,...,R,22.0,R,26.0,R,19.0,R,23.0,R,26.0
1040,199148,1,5,1,1,3,3,5,1,3,...,R,24.0,R,27.0,R,19.0,R,23.0,R,25.0
1045,199218,1,1,1,5,1,3,5,1,3,...,R,25.0,R,29.0,R,23.0,R,25.0,R,27.0
1109,204024,1,5,1,1,1,3,5,1,3,...,R,28.0,R,32.0,R,25.0,R,27.0,R,30.0
1173,209807,1,3,1,1,3,3,5,1,3,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
1308,216764,5,5,1,1,3,5,5,5,3,...,R,25.0,R,30.0,R,21.0,R,24.0,R,27.0
1323,217484,1,5,1,1,1,3,5,1,3,...,R,25.0,R,30.0,R,21.0,R,25.0,R,27.0
1394,220978,1,3,1,5,5,3,1,5,3,...,R,23.0,R,26.0,R,17.0,R,20.0,R,25.0
1427,225511,1,1,1,1,5,5,5,1,3,...,R,25.0,R,30.0,R,22.0,R,25.0,R,27.0
1439,227216,1,5,1,1,3,3,5,1,3,...,R,22.0,R,27.0,R,17.0,R,21.0,R,25.0
1440,227368,5,5,1,5,5,3,5,1,3,...,R,18.0,R,21.0,R,16.0,R,17.0,R,21.0
1446,227881,1,5,1,5,3,3,5,1,3,...,R,23.0,R,27.0,R,16.0,R,19.0,R,23.0
1453,228459,3,1,1,1,3,3,5,1,3,...,R,22.0,R,25.0,R,17.0,R,21.0,R,24.0
1458,228723,1,1,1,5,3,3,1,1,3,...,R,28.0,R,33.0,R,24.0,R,27.0,R,30.0
1459,228769,1,1,1,5,3,3,5,1,3,...,R,21.0,R,25.0,R,17.0,R,20.0,R,26.0
1460,228778,5,5,1,1,5,5,5,1,3,...,R,32.0,R,35.0,R,25.0,R,28.0,R,33.0
1461,228787,5,5,1,1,3,3,5,1,3,...,R,29.0,R,34.0,R,23.0,R,27.0,R,31.0
1462,228796,1,1,1,1,3,3,5,1,1,...,R,19.0,R,21.0,R,16.0,R,18.0,R,21.0
1469,229115,1,1,1,5,5,5,5,1,3,...,R,24.0,R,28.0,R,21.0,R,24.0,R,27.0
1506,232423,1,3,1,1,5,3,5,1,3,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
1875,483124,5,5,1,5,3,3,3,1,3,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
1893,486840,1,3,1,1,3,3,1,1,3,...,R,21.0,R,24.0,R,18.0,R,21.0,R,25.0

In [ ]:
df_retention_rate_filtered_universities = pd.DataFrame
for university_id in df_filtered_universities:
    df_fallEnrollment_2022['RET_PCP']
    df_fallEnrollment_2022['RET_PCF']

In [12]:
df_summaryStatistics_admission_2022

,varnumber,varname,n,sum,mean,min,max,varTitle
0,11016,APPLCN,1991,13172188,6615.865394,0,149801,Applicants total
1,10566,APPLCNM,1991,5616488,2820.938222,0,68595,Applicants men
2,10571,APPLCNW,1991,7516515,3775.246107,0,81206,Applicants women
3,10573,APPLCNAN,722,22104,30.614958,0,1407,Applicants another gender
4,10574,APPLCNUN,1991,17081,8.579106,0,1375,Applicants gender unknown
5,11021,ADMSSN,1964,7701420,3921.293279,0,61739,Admissions total
6,10576,ADMSSNM,1892,3119288,1648.672304,0,30036,Admissions men
7,10581,ADMSSNW,1874,4566864,2436.960512,0,31628,Admissions women
8,10584,ADMSSNAN,377,9870,26.180371,0,422,Admissions another gender
9,10585,ADMSSNUN,1991,5398,2.711200,0,473,Admissions gender unknown
10,11011,ENRLT,1959,1657007,845.843287,0,15151,Enrolled total
11,11001,ENRLM,1875,728664,388.620800,0,7693,Enrolled men
12,11006,ENRLW,1868,925748,495.582441,0,8590,Enrolled women
13,11009,ENRLAN,334,1873,5.607784,0,101,Enrolled another gender
14,11010,ENRLUN,1991,722,0.362632,0,75,Enrolled gender unknown
15,11026,ENRLFT,1948,1590847,816.656571,0,14980,Enrolled full time total
16,10586,ENRLFTM,1855,700576,377.669003,0,7606,Enrolled full time men
17,10591,ENRLFTW,1856,887798,478.339440,0,7345,Enrolled full time women
18,10594,ENRLFTAN,199,1822,9.155779,0,100,Enrolled full time another gender
19,10595,ENRLFTUN,1985,651,0.327960,0,75,Enrolled full time gender unknown
20,11031,ENRLPT,1499,66160,44.136091,0,10635,Enrolled part time total
21,10596,ENRLPTM,1444,28088,19.451524,0,3927,Enrolled part time men
22,10601,ENRLPTW,1487,37950,25.521184,0,6708,Enrolled part time women
23,10604,ENRLPTAN,151,51,0.337748,0,6,Enrolled part time another gender
24,10605,ENRLPTUN,1522,71,0.046649,0,18,Enrolled part time gender unknown
25,10611,SATNUM,1275,386397,303.056471,0,9745,Number of first-time degree/certificate-seekin...
26,10616,SATPCT,1275,27781,21.789020,0,100,Percent of first-time degree/certificate-seeki...
27,10621,ACTNUM,1282,338433,263.988300,0,5315,Number of first-time degree/certificate-seekin...
28,10626,ACTPCT,1283,29528,23.014809,0,100,Percent of first-time degree/certificate-seeki...
29,10631,SATVR25,1008,541914,537.613095,215,740,SAT Evidence-Based Reading and Writing 25th pe...
30,10633,SATVR50,1008,592413,587.711310,380,760,SAT Evidence-Based Reading and Writing 50th pe...
31,10636,SATVR75,1008,643337,638.231151,420,780,SAT Evidence-Based Reading and Writing 75th pe...
32,10641,SATMT25,1008,533727,529.491071,225,790,SAT Math 25th percentile score
33,10642,SATMT50,1008,585493,580.846230,310,800,SAT Math 50th percentile score
34,10646,SATMT75,1008,637545,632.485119,320,800,SAT Math 75th percentile score
35,10651,ACTCM25,1004,21784,21.697211,1,35,ACT Composite 25th percentile score
36,10653,ACTCM50,1004,24598,24.500000,5,35,ACT Composite 50th percentile score
37,10656,ACTCM75,1004,27467,27.357570,9,36,ACT Composite 75th percentile score
38,10661,ACTEN25,945,19546,20.683598,1,35,ACT English 25th percentile score
39,10663,ACTEN50,945,22821,24.149206,2,35,ACT English 50th percentile score
40,10666,ACTEN75,945,26184,27.707937,9,36,ACT English 75th percentile score
41,10671,ACTMT25,945,18921,20.022222,1,35,ACT Math 25th percentile score
42,10673,ACTMT50,945,21788,23.056085,5,35,ACT Math 50th percentile score
43,10676,ACTMT75,945,24791,26.233862,7,36,ACT Math 75th percentile score

In [13]:
df_summaryStatistics_fallEnrollment_2022

,varnumber,varname,n,sum,mean,min,max,varTitle
0,21001,GRCOHRT,3151,2242594,711.708664,1,14980,Full-time first-time degree/certificate-seekin...
1,21006,UGENTERN,3151,4725821,1499.784513,1,38321,Total entering students at the undergraduate l...
2,21011,PGRCOHRT,3151,165110,52.399238,0,100,Current year GRS cohort as a percent of enteri...
3,21026,RRFTCT,5406,2138057,395.497040,0,14097,Full-time fall 2021 cohort
4,21031,RRFTEX,5406,6441,1.191454,0,2317,Exclusions from full-time fall 2021 cohort
5,21033,RRFTIN,5406,207,0.038291,0,95,Inclusions to the full-time fall 2021 cohort
6,21036,RRFTCTA,5406,2131823,394.343877,0,13931,Full-time adjusted fall 2021 cohort
7,21041,RET_NMF,5406,1631131,301.726045,0,11892,Students from the full-time adjusted fall 2021...
8,21016,RET_PCF,5069,361229,71.262379,0,100,"Full-time retention rate, 2022"
9,21046,RRPTCT,3726,370122,99.334944,0,6795,Part-time fall 2021 cohort
10,21051,RRPTEX,3726,1109,0.297638,0,108,Exclusions from part-time fall 2021 cohort
11,21053,RRPTIN,3726,18,0.004831,0,6,Inclusions to the part-time fall 2021 cohort
12,21056,RRPTCTA,3726,369031,99.042136,0,6791,Part-time adjusted fall 2021 cohort
13,21061,RET_NMP,3726,169328,45.444981,0,3014,Students from the part-time adjusted fall 2021...
14,21021,RET_PCP,3032,153954,50.776385,0,100,"Part-time retention rate, 2022"
15,24301,STUFACR,5703,85558,15.002280,1,134,Student-to-faculty ratio

In [14]:
df_summaryVarlist_admission_2022

,varnumber,varname,DataType,Fieldwidth,format,imputationvar,varTitle
0,1,UNITID,N,6,Cont,NaN,Unique identification number of the institution
1,10521,ADMCON1,N,2,Disc,NaN,Secondary school GPA
2,10526,ADMCON2,N,2,Disc,NaN,Secondary school rank
3,10531,ADMCON3,N,2,Disc,NaN,Secondary school record
4,10536,ADMCON4,N,2,Disc,NaN,Completion of college-preparatory program
5,10541,ADMCON5,N,2,Disc,NaN,Recommendations
6,10546,ADMCON6,N,2,Disc,NaN,Formal demonstration of competencies
7,10551,ADMCON7,N,2,Disc,NaN,Admission test scores
8,10556,ADMCON8,N,2,Disc,NaN,English Proficiency Test
9,10559,ADMCON9,N,2,Disc,NaN,"Other Test (Wonderlic, WISC-III, etc.)"
10,10548,ADMCON10,N,2,Disc,NaN,Work experience
11,10549,ADMCON11,N,2,Disc,NaN,Personal statement or essay
12,10550,ADMCON12,N,2,Disc,NaN,Legacy status
13,11016,APPLCN,N,6,Cont,XAPPLCN,Applicants total
14,10566,APPLCNM,N,6,Cont,XAPPLCNM,Applicants men
15,10571,APPLCNW,N,6,Cont,XAPPLCNW,Applicants women
16,10573,APPLCNAN,N,6,Cont,XAPPLCNAN,Applicants another gender
17,10574,APPLCNUN,N,6,Cont,XAPPLCNUN,Applicants gender unknown
18,11021,ADMSSN,N,6,Cont,XADMSSN,Admissions total
19,10576,ADMSSNM,N,6,Cont,XADMSSNM,Admissions men
20,10581,ADMSSNW,N,6,Cont,XADMSSNW,Admissions women
21,10584,ADMSSNAN,N,6,Cont,XADMSSNAN,Admissions another gender
22,10585,ADMSSNUN,N,6,Cont,XADMSSNUN,Admissions gender unknown
23,11011,ENRLT,N,6,Cont,XENRLT,Enrolled total
24,11001,ENRLM,N,6,Cont,XENRLM,Enrolled men
25,11006,ENRLW,N,6,Cont,XENRLW,Enrolled women
26,11009,ENRLAN,N,6,Cont,XENRLAN,Enrolled another gender
27,11010,ENRLUN,N,6,Cont,XENRLUN,Enrolled gender unknown
28,11026,ENRLFT,N,6,Cont,XENRLFT,Enrolled full time total
29,10586,ENRLFTM,N,6,Cont,XENRLFTM,Enrolled full time men
30,10591,ENRLFTW,N,6,Cont,XENRLFTW,Enrolled full time women
31,10594,ENRLFTAN,N,6,Cont,XENRLFTAN,Enrolled full time another gender
32,10595,ENRLFTUN,N,6,Cont,XENRLFTUN,Enrolled full time gender unknown
33,11031,ENRLPT,N,6,Cont,XENRLPT,Enrolled part time total
34,10596,ENRLPTM,N,6,Cont,XENRLPTM,Enrolled part time men
35,10601,ENRLPTW,N,6,Cont,XENRLPTW,Enrolled part time women
36,10604,ENRLPTAN,N,6,Cont,XENRLPTAN,Enrolled part time another gender
37,10605,ENRLPTUN,N,6,Cont,XENRLPTUN,Enrolled part time gender unknown
38,10611,SATNUM,N,6,Cont,XSATNUM,Number of first-time degree/certificate-seekin...
39,10616,SATPCT,N,3,Cont,XSATPCT,Percent of first-time degree/certificate-seeki...
40,10621,ACTNUM,N,6,Cont,XACTNUM,Number of first-time degree/certificate-seekin...
41,10626,ACTPCT,N,3,Cont,XACTPCT,Percent of first-time degree/certificate-seeki...
42,10631,SATVR25,N,3,Cont,XSATVR25,SAT Evidence-Based Reading and Writing 25th pe...
43,10633,SATVR50,N,3,Cont,XSATVR50,SAT Evidence-Based Reading and Writing 50th pe...
44,10636,SATVR75,N,3,Cont,XSATVR75,SAT Evidence-Based Reading and Writing 75th pe...
45,10641,SATMT25,N,3,Cont,XSATMT25,SAT Math 25th percentile score
46,10642,SATMT50,N,3,Cont,XSATMT50,SAT Math 50th percentile score
47,10646,SATMT75,N,3,Cont,XSATMT75,SAT Math 75th percentile score
48,10651,ACTCM25,N,3,Cont,XACTCM25,ACT Composite 25th percentile score
49,10653,ACTCM50,N,3,Cont,XACTCM50,ACT Composite 50th percentile score
50,10656,ACTCM75,N,3,Cont,XACTCM75,ACT Composite 75th percentile score
51,10661,ACTEN25,N,3,Cont,XACTEN25,ACT English 25th percentile score
52,10663,ACTEN50,N,3,Cont,XACTEN50,ACT English 50th percentile score
53,10666,ACTEN75,N,3,Cont,XACTEN75,ACT English 75th percentile score
54,10671,ACTMT25,N,3,Cont,XACTMT25,ACT Math 25th percentile score
55,10673,ACTMT50,N,3,Cont,XACTMT50,ACT Math 50th percentile score
56,10676,ACTMT75,N,3,Cont,XACTMT75,ACT Math 75th percentile score

In [15]:
# Unique values in the 'varname' feature of the original DataFrame
original_varnames = set(df_summaryVarlist_admission_2022['varname'])

# Feature names of the filtered DataFrame
filtered_feature_names = set(df_filtered_universities.columns)

# Check if there's a 1:1 matching
if len(original_varnames) == len(filtered_feature_names):
    print("There is a 1:1 matching between the 'varname' feature and the filtered DataFrame's feature names.")
else:
    print("There is not a 1:1 matching between the 'varname' feature and the filtered DataFrame's feature names.")

There is not a 1:1 matching between the 'varname' feature and the filtered DataFrame's feature names.

In [16]:
df_summaryVarlist_fallEnrollment_2022

,varnumber,varname,DataType,Fieldwidth,format,imputationvar,varTitle
0,1,UNITID,N,6,Cont,NaN,Unique identification number of the institution
1,21001,GRCOHRT,N,6,Cont,XGRCOHRT,Full-time first-time degree/certificate-seekin...
2,21006,UGENTERN,N,6,Cont,XUGENTER,Total entering students at the undergraduate l...
3,21011,PGRCOHRT,N,3,Cont,XPGRCOHR,Current year GRS cohort as a percent of enteri...
4,21026,RRFTCT,N,6,Cont,XRRFTCT,Full-time fall 2021 cohort
5,21031,RRFTEX,N,6,Cont,XRRFTEX,Exclusions from full-time fall 2021 cohort
6,21033,RRFTIN,N,6,Cont,XRRFTIN,Inclusions to the full-time fall 2021 cohort
7,21036,RRFTCTA,N,6,Cont,XRRFTCTA,Full-time adjusted fall 2021 cohort
8,21041,RET_NMF,N,6,Cont,XRET_NMF,Students from the full-time adjusted fall 2021...
9,21016,RET_PCF,N,3,Cont,XRET_PCF,"Full-time retention rate, 2022"
10,21046,RRPTCT,N,6,Cont,XRRPTCT,Part-time fall 2021 cohort
11,21051,RRPTEX,N,6,Cont,XRRPTEX,Exclusions from part-time fall 2021 cohort
12,21053,RRPTIN,N,6,Cont,XRRPTIN,Inclusions to the part-time fall 2021 cohort
13,21056,RRPTCTA,N,6,Cont,XRRPTCTA,Part-time adjusted fall 2021 cohort
14,21061,RET_NMP,N,6,Cont,XRET_NMP,Students from the part-time adjusted fall 2021...
15,21021,RET_PCP,N,3,Cont,XRET_PCP,"Part-time retention rate, 2022"
16,24301,STUFACR,N,6,Cont,XSTUFACR,Student-to-faculty ratio

---
### Metadata: (2011 - 2022)
- `Full-time retention rate:` (Fall enrollment/retention rates)
Variable Description
The full-time retention rate is the percent of the (fall full-time cohort from the prior year minus exclusions from the fall full-time cohort) that re-enrolled at the institution as either full- or part-time in the current year
Variable Sources
IPEDS, Spring 2023, Fall Enrollment component
No Value sets are available for this variable
- `Part-time retention rate:` (Fall enrollment/retention rates)
Variable Description
The part-time retention rate is the percent of the (fall part-time cohort from the prior year minus exclusions from the fall part-time cohort) that re-enrolled at the institution as either full- or part-time in the current year
Variable Sources
IPEDS, Spring 2023, Fall Enrollment component
No Value sets are available for this variable
- `Reporting method for student charges, graduation rates, retention rates and student financial aid:` (1980-81 to reporting year)
1	Student charges for full academic year and fall GR/SFA/retention rate cohort		
3	Student charges for full academic year and full-year GR/SFA/retention rate cohort		
2	Student charges by program and full-year GR/SFA/retention rate cohort		
-1	Not reported		
-2	Not applicable		
Variable Description
Reporting method identifies how institutions report student charges (full academic year or by program) and the type of cohort (fall or full-year) used to report graduation rate, retention rate and student financial aid data.
- `Response status - total entering class and retention rates:` (1987 to curretn year)
1	Respondent		
2	Partial respondent, imputed		
4	Nonrespondent, imputed		
5	Nonrespondent, not imputed		
-2	Not applicable		
-9	Not active		
Variable Description
Status total entering class
Variable Sources
IPEDS, Spring 2023, Fall Enrollment component
- `Full-time retention rate:` (Fall 2003 to current year) 
Variable Description
The full-time retention rate is the percent of the (fall full-time cohort from the prior year minus exclusions from the fall full-time cohort) that re-enrolled at the institution as either full- or part-time in the current year
Variable Sources
IPEDS, Spring 2023, Fall Enrollment component
No Value sets are available for this variable
- `Part-time retention rate:`(Fall 2003 to current year)
Variable Description
The part-time retention rate is the percent of the (fall part-time cohort from the prior year minus exclusions from the fall part-time cohort) that re-enrolled at the institution as either full- or part-time in the current year
Variable Sources
IPEDS, Spring 2023, Fall Enrollment component
No Value sets are available for this variable

---

### Comparing to similar universities sharing these parameters:
**Criteria Summary:**
- Miscellaneous Indicators: All institutions
- Sector: Public, 4-year or above
- State or other jurisdiction: Texas
- Degree-granting status: Degree-granting
- Highest degree offered: Doctor's degree - research/scholarship and professional practice
- Institutional category: Degree-granting, primarily baccalaureate or above
- Degree of urbanization (Locale): City: Small; City: Midsize; City: Large
- Institution size category: 20,000 and above
- Reporting method (academic/hybrid/program): Student charges for full academic year and fall GR/SFA/retention rate cohort
- Has full-time first-time undergraduates: Yes
- All programs offered completely via distance education: No
- Adding select peer institutions as determined by the NCES:
    - 225511: University of Houston	TX
    - 227216: University of North Texas	TX
    - 227368: The University of Texas Rio Grande Valley	TX
    - 228723: Texas A & M University-College Station	TX
    - 228769: The University of Texas at Arlington	TX
    - 228778: The University of Texas at Austin	TX
    - 228787: The University of Texas at Dallas	TX
    - 228796: The University of Texas at El Paso	TX
    - 229115: Texas Tech University	TX
    - 105330: Northern Arizona University	AZ
    - 110510: California State University-San Bernardino	CA
    - 110556: California State University-Fresno	CA
    - 110565: California State University-Fullerton	CA
    - 110583: California State University-Long Beach	CA
    - 122409: San Diego State University	CA
    - 122597: San Francisco State University	CA
    - 133669: Florida Atlantic University	FL
    - 139931: Georgia Southern University	GA
    - 142115: Boise State University	ID
    - 145813: Illinois State University	IL